<nav class="navbar">
  <div class="logo">
    <h1>האתר המדהים שלי</h1>
  </div>

  <div class="nav-links">
    <a *ngIf="userName()" routerLink="/catalog" routerLinkActive="active-link">קטלוג</a>

    <a routerLink="/history" routerLinkActive="active-link" class="history-link">ההיסטוריה שלי</a>
    
    <div *ngIf="userName()" class="user-logged-in">
      <span>שלום, <strong>{{ userName() }}</strong></span>
      
      
      
      <button (click)="logout()" class="logout-btn">התנתק</button>
    </div>

    <div *ngIf="!userName()" class="guest-links">
      <a routerLink="/login" routerLinkActive="active-link">התחברות</a>
      <a routerLink="/register" routerLinkActive="active-link">הרשמה</a>
    </div>
  </div>
</nav>

<div class="main-content">
  <router-outlet></router-outlet>
</div>