<div class="container">
  <h2>היסטוריית השכרות</h2>

  <table class="table">
    <thead>
      <tr>
        <th>קוד השכרה</th>
        <th>תאריך התחלה</th>
        <th>תאריך סיום</th>
        <th>מטרת נסיעה</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rent of rentHistory">
        <td>{{ rent.rensCode }}</td>
        <td>{{ rent.beginDate | date:'dd/MM/yyyy' }}</td>
        <td>{{ rent.finishDate | date:'dd/MM/yyyy' }}</td>
        <td>{{ rent.rentGoal }}</td>
      </tr>
    </tbody>
  </table>
</div>