<div class="register-container">
  <h2>הרשמת לקוח חדש</h2>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label>שם פרטי:</label>
      <input type="text" formControlName="firstName">
      <small style="color:red" *ngIf="registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched">
        שם פרטי הוא חובה
      </small>
    </div>

    <div class="form-group">
      <label>שם משפחה:</label>
      <input type="text" formControlName="lastName">
    </div>

    <div class="form-group">
      <label>תעודת זהות:</label>
      <input type="text" formControlName="Id" placeholder="הכנס 9 ספרות">
      <small style="color:red" *ngIf="registerForm.get('Id')?.invalid && registerForm.get('Id')?.touched">
        תעודת זהות תקינה היא חובה
      </small>
    </div>

    <div class="form-group">
      <label>אימייל:</label>
      <input type="email" formControlName="email">
    </div>

    <div class="form-group">
      <label>קוד עיר:</label>
      <input type="number" formControlName="idCity">
    </div>

    <button type="submit" [disabled]="registerForm.invalid">הרשמה</button>

    <p style="margin-top: 10px; text-align: center;">
  כבר יש לך חשבון? <a routerLink="/login" style="color: blue; cursor: pointer;">התחבר כאן</a>
</p>

  </form>
</div>